<div class="container-fluid" id="view" ng-controller="HomeCtrl">
	<div class="row" style="margin-bottom: 50px;">
		<div class="col-md-12 pull-left">
			<h4>Mes Rencontres</h4>
		</div>
		<div class="col-md-4 pull-left">
			<canvas id="chart-bar" class="chart chart-bar" data="data1"
  			series="series1"	labels="labels1"></canvas> 
		</div>
		<div class="col-md-4 pull-left">
			<canvas id="line" class="chart chart-line" data="data1"
  labels="labels1" legend="true" series="series1"></canvas> 
		</div>
		<div class="col-md-4 pull-left">
			<canvas id="chart-polar-area" class="chart chart-polar-area" data="data"
  				labels="labels"></canvas> 
		</div>
	</div>
	<div class="row" style="margin-bottom: 50px;">
		<div class="col-md-12 pull-left">
			<h4>Mon activité de la semaine</h4>
		</div>
		<div class="col-md-4 pull-left">
			<canvas id="doughnut" class="chart chart-doughnut" data="data"
  				labels="labels"></canvas> 
		</div>
		<div class="col-md-4 pull-left">
			<canvas id="chart-pie" class="chart chart-pie" data="data"
  				labels="labels"></canvas> 
		</div>
		<div class="col-md-4 pull-left">
			<canvas id="radar" class="chart chart-radar" data="data1"
  			series="series1"	labels="labels1"></canvas> 
		</div>
	</div>
	<div class="row" style="margin-bottom: 50px;">
		<div class="col-md-12 pull-left">
			<h4>Mon activité du mois</h4>
		</div>
		<div class="col-md-4 pull-left">
			<canvas id="chart-bar" class="chart chart-bar" data="data1"
  			series="series1"	labels="labels1"></canvas> 
		</div>
		<div class="col-md-4 pull-left">
			<canvas id="line" class="chart chart-line" data="data1"
  labels="labels1" legend="true" series="series1"></canvas> 
		</div>
		<div class="col-md-4 pull-left">
			<canvas id="chart-polar-area" class="chart chart-polar-area" data="data"
  				labels="labels"></canvas> 
		</div>
	</div>
</div>