<!doctype html>
<html class="no-js" ng-app="app">

<head>
<meta charset="utf-8">
<title></title>
<meta name="description" content="width=device-width, initial-scale=1.0">
<meta name="viewport" content="width=device-width">
<!-- build:css(.) styles/vendor.css -->
<!-- bower:css -->
<link rel="stylesheet" href="bower_components/angularjs-toaster/toaster.css" />
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
<link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css" />
<!-- endbower -->
<!-- endbuild -->
<!-- build:css(.tmp) styles/main.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
</head>

<body>
	<div class="page-signin" ng-controller="NavigationCtrl">
		<nav class="navbar navbar-default navbar-collapse navbar-static-top " role="navigation">
			<div class="container-fluid">
				<form class="navbar-form navbar-left ">
					<div class="form-group">
						<button ng-click="home()"
							class="btn btn-md btn-block pull-right ">
							<img
							src="images/home.png"
							alt="Homepage" title="Homepage" width="48px" />
							<!--<span class="glyphicon glyphicon-home"></span> Home -->
						</button>
					</div>
				</form>
				<ul class="nav navbar-nav navbar-right" ng-if="isLogged">
					<li class="dropdown"><a data-target=""
						class="dropdown-toggle btn-inverse" data-toggle="dropdown"
						role="button" aria-expanded="false"><span
							class="glyphicon glyphicon-user"></span> {{$root.user.username}} <span
							class="caret"></span> </a>
						<ul class="dropdown-menu" role="menu">
<!-- 							<li ng-click="selected(group)"
								ng-repeat="group in $root.groups | orderBy: 'group' as filtered_result track by group"><a
								data-target="">{{group}}</a></li> -->
						</ul></li>
					<li>
						<form class="navbar-form">
							<div class="form-group">
								<button ng-click="logout()"
									class="btn btn-primary btn-md btn-block pull-right">
									<span class="glyphicon glyphicon-log-out"></span> Log out
								</button>
							</div>
						</form>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<toaster-container
		toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>

	<div ng-view></div>

	<footer class="row navbar-fixed-bottom">
		<div class="col-md-12">
			<hr>
			<p class="copyright text-center">&copy;Cercle Paul Bert Tennis de Table 2015</p>
		</div>
	</footer>
	<!--End footer-->



	<!-- build:js(.) scripts/vendor.js -->
	<!-- bower:js -->
	<script src="bower_components/jquery/dist/jquery.js"></script>
	<script src="bower_components/es5-shim/es5-shim.js"></script>
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-animate/angular-animate.js"></script>
	<script src="bower_components/angular-resource/angular-resource.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
	<script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angularjs-toaster/toaster.js"></script>
	<script src="bower_components/angular-file-upload/angular-file-upload.js"></script>
	<script src="bower_components/pdfjs-dist/build/pdf.js"></script>
	<script src="bower_components/pdfjs-dist/build/pdf.worker.js"></script>
	<script src="bower_components/angular-pdf/dist/angular-pdf.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
	<script src="bower_components/angular-ui-grid/ui-grid.js"></script>
	<script src="bower_components/Chart.js/Chart.js"></script>
	<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>
	<!-- endbower -->
	<!-- endbuild -->


	<!-- build:js({.tmp,app}) scripts/scripts.js -->
	<script src="scripts/app.js"></script>
	<script src="scripts/controllers/navigation.js"></script>
	<script src="scripts/controllers/authentication.js"></script>
	<script src="scripts/controllers/home.js"></script>
	<script src="scripts/services/authorisationService.js"></script>
	<script src="scripts/services/userService.js"></script>
	<!-- endbuild -->

	</div>
</body>

</html>